<div class="container main-container">
  <h4><p class="text-danger">Imóveis para Alugar em Brasília-DF</p></h4>

    <div class="card mb-3" style="max-width: 1100px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="/assets/alugar01.jpg" class="card-img" alt="">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">SQN 410 Norte BL: P AP: 210, Asa Norte Brasília.</h5>
              <p class="card-text">Asa Norte, Brasília Condomínio fechado com porteiro.</p>
              <b><p class="card-text">R$ 2.300,00  m² R$ 25,00 Condomínio: R$ 200,00</p></b>
              <p class="card-text">APARTAMENTO 250 m², 2 Quartos, 1 Suíte e 1 vaga na Garagem.</p>
              <p class="card-text">Apartamento com 1 suíte, sala, Cozinha Americana, Banheiro, Varanda, Àrea de lazer piscina, churrasqueira, quadra de futsal.</p>
              <button type="submit" class="btn btn-primary btn-sm">Conhecer</button>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3" style="max-width: 1100px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="/assets/alugar02.jpg" class="card-img" alt="">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">QE 32 Conj: K Casa: 10, Guará 2 Brasília</h5>
              <p class="card-text">Guará 2 QE 32, Brasília.</p>
              <b><p class="card-text">R$ 1.550,00  m² R$ 18,00</p></b>
              <p class="card-text">CASA 210 m², 3 Quartos, 2 Suítes e Garagem.</p>
              <p class="card-text">Casa com 2 suítes, sala de estar, Cozinha Americana, Banheiro, Varanda, piscina, churrasqueira e sistema de câmeras 24hrs.</p>
              <button type="submit" class="btn btn-primary btn-sm">Conhecer</button>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3" style="max-width: 1100px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="/assets/alugar03.jpg" class="card-img" alt="">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Buritis 4 Conj: A Casa: 08, Planaltina-DF Brasília</h5>
              <p class="card-text">Buritis 4 Planaltina-DF, Brasília.</p>
              <b><p class="card-text">R$ 1.000,00  m² R$ 15,00</p></b>
              <p class="card-text">CASA 200 m², 3 Quartos, 1 Suíte e Garagem p/ 3 carros.</p>
              <p class="card-text">Casa de andar com 1 suíte, sala, Cozinha Americana, Banheiro, Varanda e Cerca Elétrica.</p>
              <button type="submit" class="btn btn-primary btn-sm">Conhecer</button>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3" style="max-width: 1100px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="/assets/alugar04.jpg" class="card-img" alt="">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Quadra: 2 Conj: B Casa: 05, Sobradinho 01 Brasília</h5>
              <p class="card-text">Sobradinho 01 Conj: B, Brasília.</p>
              <b><p class="card-text">R$ 1.300,00  m² R$ 17,20</p></b>
              <p class="card-text">CASA 225 m², 3 Quartos, 1 Suíte e Garagem p/ 4 carros.</p>
              <p class="card-text">Casa com 1 suíte, sala de estar, sala de jantar, Cozinha, Banheiro e Varanda.</p>
              <button type="submit" class="btn btn-primary btn-sm">Conhecer</button>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3" style="max-width: 1100px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="/assets/alugar05.jpg" class="card-img" alt="">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Condomínio Ouro Verde, Jardim Botânico, Brasília.</h5>
              <p class="card-text">Jardim Botânico, Brasília Condomínio fechado.</p>
              <b><p class="card-text">R$ 3.500,00  m² R$ 30,00</p></b>
              <p class="card-text">CASA 400 m², 4 Quartos, 2 Suítes e Garagem.</p>
              <p class="card-text">Condomínio Ouro Verde, casa de andar com 2 suítes, sala de estar, Cozinha, Varanda, Àrea de lazer com piscina e churrasqueira.</p>
              <button type="submit" class="btn btn-primary btn-sm">Conhecer</button>
            </div>
          </div>
        </div>
      </div>
</div>