<!--Page Content-->
<carousel>
    <slide>
      <img src="assets/01.jpg" alt="first slide" style="display: block; width: 100%;">
    </slide>
    <slide>
      <img src="assets/02.jpg" alt="second slide" style="display: block; width: 100%;">
    </slide>
    <slide>
      <img src="assets/03.jpg" alt="third slide" style="display: block; width: 100%;">
    </slide>
  </carousel>

<header class="bg-white py-5 mb-5">
    <div class="container h-100">

        <h4><p class="text-center" style="font-family: 'Bree Serif', serif; color: blue;">Parcerias</p></h4>    

        <div class="row text-center">   
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img
                        src="/assets/parGois.jpg" alt=""
                        width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Gois Construtora</h5><span class="small text-uppercase text-muted">Mudando sua vida.</span>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item"><a href="#" class="social-link"><i
                                    class="fa fa-facebook-f"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- End-->

            <!-- Team item-->
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img
                        src="/assets/mrvLogo.jpg" alt=""
                        width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">MRV - Engenharia</h5><span class="small text-uppercase text-muted">O melhor da engenharia.</span>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item"><a href="#" class="social-link"><i
                                    class="fa fa-facebook-f"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- End-->

            <!-- Team item-->
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img
                        src="/assets/cartorioLogo.jpg" alt=""
                        width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Cartório Asa Norte</h5><span class="small text-uppercase text-muted">4° Ofício/DF.</span>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- End-->

            <!-- Team item-->
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img
                        src="/assets/caixa.jpg" alt=""
                        width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">CAIXA ECONÔMICA FEDERAL</h5><span class="small text-uppercase text-muted">Financiando seu Sonho.</span>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item"><a href="#" class="social-link"><i
                                    class="fa fa-facebook-f"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- End-->
        </div>    
    </div>
</header>

<div class="container main-container">
    <div class="row text-center">
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="h-100">
                <img class="card-img-top" src="/assets/temp.jpg" height="164px" width="253px" alt="">
                <div class="card-body">
                    <h4 class="card-title">Temporadas</h4>
                    <p class="card-text">Às melhores casas e hotéis para o seu melhor conforto nas melhores regiões.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Saiba mais.</a>
                </div>        
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="h-100">
                <img class="card-img-top" src="/assets/corme.jpg" height="164px" width="253px" alt="">
                <div class="card-body">
                    <h4 class="card-title">Comercial</h4>
                    <p class="card-text">Melhores comércios para alugar ou comprar seu negócio.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Saiba mais.</a>
                </div>        
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="h-100">
                <img class="card-img-top" src="/assets/constru.jpg" height="164px" width="253px" alt="">
                <div class="card-body">
                    <h4 class="card-title">Construtoras</h4>
                    <p class="card-text">Vários empreendimentos imobiliários que cabe no seu bolso.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Saiba mais.</a>
                </div>        
            </div>
        </div>    
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="h-100">
                <img class="card-img-top" src="/assets/cs_novas.jpg" height="164px" width="253px" alt="">
                <div class="card-body">
                    <h4 class="card-title">Imóveis Novos</h4>
                    <p class="card-text">Casas e Apartamentos novos em diversas regiões da cidade.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Saiba mais.</a>
                </div>        
            </div>
        </div>    
    </div>
</div>
<!--Page Content FIM-->