<!--Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <b><a class="navbar-brand" [routerLink]="['/home']">4 House Imóveis</a></b>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/sobreNos']">Sobre Nós</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/alugar']">Alugar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/comprar']">Comprar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/contato']">Contatos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/anunciar']">Anunciar Imóvel</a>
                </li>
            </ul>    
        </div>    
    </div>
</nav>
<!--Navigation Fim-->